@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: rgba(56, 7, 56, 0.986);
    width: 100vw;
    height: 100vh;
}

section {   
position: absolute;
height: 520px;
width: 250px;
background-color: #fff;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
border-radius: 10px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.63);

}

div#fundo {
    width: 100%;
    height: 210px;
    background: url(pexels-philippedonn-1257860.jpg) center no-repeat;
    background-size: cover;
    border-radius: 10px;
    
}



form h1 {
    text-align: center;
    padding: 10px;
}

form p {
    
    padding: 7px;
   font-size: 0.8em;
}

label {
    display: none;
}



.barras {
    position: relative;
    border-radius: 10px;
    width: 90%;
    background-color:  rgba(56, 7, 56, 0.986);
    margin: auto;
    margin-bottom: 5px;
    padding: 8px;
}

.material-icons {
   color: #fff; 
   font-size: 2em;
   width: 40px;
   padding:5px; 
}

#username {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-50%);
    padding: 5px 3px;
    border-radius:5px;
}

#password {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-50%);
    padding: 5px 3px;
}



#ientrar {
    color: #fff;
    background-color: rgba(3, 124, 124, 0.932);
    border-radius: 8px;
    border: none;
    margin-left:12px;
    padding: 8px;
    width: 90%;
    margin-bottom: 6px;
}

#isenha {
    color: rgba(3, 124, 124, 0.932);
    background-color:#fff ;
    border-radius: 8px;
    border: 1px solid rgba(3, 124, 124, 0.932);
    margin-left:12px;
    padding: 8px;
    width: 90%;
    margin-bottom: 6px;
}


#mail {
    color:rgba(3, 124, 124, 0.932) ;
    position: absolute;
    top: 92%;
    left: 70%;
}
