.container {
width: 100vw;
height: 100vh;


display: grid;
grid-template-columns: 150px 150px 150px;
grid-template-rows: 200px 200px;
grid-template-areas: "red blue yellow"
"red green green"

}



.red {
    background-color: red;
    grid-area: red;
}

.green {
    background-color: green; 
    grid-area: green;
}


.blue {
    background-color: blue;
    grid-area: blue ;
}

.yellow {
    background-color: yellow;
    grid-area: yellow;
}