table {
width: 400px;
height: 10vh;
border-collapse: collapse;
line-height: 2em;
}

td {
    border: 3px solid black;
    padding: 8px;
    
}

.teste {
    background-color: blueviolet;
}



.Especiais {
    background-image: url(pexels-florencia-potter-351283.jpg);
    color: black;
}

#pituca:hover {
background-color: yellow;
transition-duration: 0.7s;
}